version: "3.9"

services:
  db:
    image: postgres:16
    container_name: postgres-db-prod
    restart: always
    env_file:
      - .postgres.env
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  api:
    build: 
      context: .
      dockerfile: Dockerfile.prod
    container_name: node-api-prod
    ports:
      - "3000:3000"
    env_file:
      - .api.env
    depends_on:
      - db

volumes:
  pgdata:
