version: "3.9"

services:
  db:
    image: postgres:16
    container_name: postgres-db-dev
    restart: always
    env_file:
      - .postgres.env
    volumes:
      - postgres_data_dev:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  api:
    build: 
      context: .
      dockerfile: Dockerfile.dev
    container_name: node-api-dev
    ports:
      - "3000:3000"
    env_file:
      - .api.env
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - db

volumes:
  postgres_data_dev:
