version: "3.9"

services:
  db:
    image: postgres:16
    container_name: postgres-db
    restart: always
    env_file:
      - .postgres.env
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  api:
    build: .
    container_name: node-api
    ports:
      - "3000:3000"
    env_file:
      - .api.env
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - db

volumes:
  pgdata:
